html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --colour--dark: #28262b;
  --colour--dark--secondary: #333333;
  --colour--light: #d5ccc7;
  --colour--light--secondary: #a9a29c;
}

.nav__bar {
  display: flex;
  align-items: center;
  background-color: var(--colour--dark);
  padding: 2rem;
}

.nav__bar h1 {
  color: white;
  font-size: 4rem;
}

.nav__bar > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav__bar li {
  font-size: 2rem;
  color: white;
}

.nav__bar a {
  text-decoration: none;
}

.item__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  width: 100%;
}

.item__card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 2rem;
}

/* Shopping Cart */
.shopping__total {
  font-size: 2rem;
}

/* Catalogue */

.catalogue__container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalogue__container > h1 {
  font-weight: bold;
}

/* Item page */
.item__page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.item__quantity__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
